@import url(../base.css);

/* Definição do Cabeçalho da página */
#conteiner-cabecalho{
    color: var(--cor-azul-escuro);
    text-align: center;
    display: flex;
    flex-direction: column;

    /* Prender o menu acima de tudo */
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* padding: 10px; */
    z-index: 1000;
}

#conteiner-cabecalho h1{
    margin-bottom: 20px;
    font-size: 50px;
    font-family: var(--font-base-bold);
    text-transform: uppercase; /*esta prop. permite alter a capitalidade da fonte*/
}

#conteiner-buscar-contatos{
    background-color: var(--cor-branco);
    margin: 0;
    display: flexbox;
    flex-direction: flexx-row;   
    justify-content: center; /* alinhamento horizontal em conteiners "flex"*/
    height: 50px;
}

#item-txt-caixa-de-busca{
    height: 55px;
    width: 600px;
    border-radius: var(--borda-arredondadas);
    margin-right: 40px;
    padding: 5px 30px;
    background-color: var(--cor-azul-claro-translucido);
    font-family: var(--font-base-normal);
    font-size: 16pt;
}

#item-btn-buscar{
    height: 55px;
    width: 150px;
    border: var(--cor-azul-claro);
    border-radius: var(--borda-arredondadas);
    font-family: var(--font-base-bold);
    font-size: 14pt;
    font-weight: 700;
    color: var(--cor-branco);
    background-color: var(--cor-azul-claro);
    box-shadow: var(--sombra-padrao);
    cursor: pointer; /* Muda o cursor ao passar por cima do botão */
    text-transform: uppercase;
}