@import url(../base.css);

/* Definição do Corpo da página */
#conteiner-principal{
    display: grid;
    grid-template-columns: 210px 1200px;  
    grid-template-rows: auto;
    height: calc(100vh - 190px); /* ocupa o resto da tela */
    margin: 0;
    padding: 0;
}