@import url(../base.css);

#conteiner-painel-lateral{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
    border-radius: var(--borda-arredondadas);
}

.item{
    /* background-color: var(--cor-azul-translucido); */
    border-radius: var(--borda-arredondadas);
    display: grid;
    grid-template-columns: auto; /* 1 coluna */
    grid-template-rows: auto auto; /* 2 linhas */
    gap: -1px 0px;
    padding: 10px;
}.item:nth-child(1){
    grid-row: 2/3;
    justify-content: center; /* alinhamento horizontal em conteiners "grid"*/
    align-content: center;   /* alinhamento vertical em conteiners "grid"*/
}.item:nth-child(2){
    grid-row: 3/4;
    align-content: center;   /* alinhamento vertical em conteiners "grid"*/
}

#logo-agenda{
    width: 80px;
    height: 80px;
    justify-self: center; /* Alinhamento horizontal em conteiners "grid"*/
    align-self: center;   /* Alinhamento vertical em conteiners "grid"*/
}#total-de-contatos{
    font-family: var(--font-base-bold);
    font-size: 18pt;
    font-weight: 600;
    text-align: center;
    color: var(--cor-cinza);
}

#btn-adicionar-contato{
    background-color: var(--cor-verde-lima);
    border: none;
    border-radius: 50%;
    box-shadow: var(--sombra-padrao);

    font-family: var(--font-base-bold);
    font-size: 55pt;
    font-weight: 540;
    color: var(--cor-branco);

    width: 80px;
    height: 80px;

    justify-self: center; /* Alinhamento horizontal em conteiners "grid"*/
    align-self: center;   /* Alinhamento vertical em conteiners "grid"*/
    cursor: pointer; /* Muda o cursor ao passar por cima do botão */
}